.formulaires {
  display: block;
  margin: 25px;
  padding: 25px;
}

form {
  margin: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.question {
  margin: 10px;
  padding: 10px;
}

#nomError {
  display: none;
  color: red;
}

#prenomError {
  display: none;
  color: red;
}

#mailError {
  display: none;
  color: red;
}

#mdpError {
  display: none;
  color: red;
}
.danger {
  display: none;
  color: green;
}
