nav {
  min-height: 10vh;
  width: 50vw;
  background-color: peru;
  display: flex;
  justify-content: space-around;
}

.formulaires {
  display: block;
  margin: 25px;
  padding: 25px;
}

form {
  margin: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.question {
  margin: 10px;
  padding: 10px;
}

#adresseEmailError {
  display: none;
  color: rgb(72, 9, 219);
}

#passError {
  display: none;
  color: rgb(223, 210, 36);
}
